.polygon_style {
    clip-path: polygon(0 0, 100% 0, 93% 100%, 0% 100%);

}
.donate-btn {
    background-color: #50bac3;
    padding: 16px 38px; 
    color: #fff;
    text-transform: uppercase;
    font-size:12px; 
    font-weight: bold;
    transition-property: background-color;
    transition-duration: 1s;
}
.donate-btn:hover{
    background-color: #424242;
}
.btn-title{
    transition-property: color;
    transition-duration: 1s;
}
.btn-title:hover {
   color:#50bac3
}
